# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/_aside.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/_content.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/_fonts.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/_footer.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/_header.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/_structure.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/_text.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/aside.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/content.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/fonts.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/footer.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/header.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/ie.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/print.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/screen.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/structure.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/style.scssc
/sites/all/themes/propeople/.sass-cache/45a06c8cfea635f7a0eafa76e4abdb0616f47003/text.scssc
/sites/all/themes/propeople/.sass-cache/75fcaf1b4852ceb732871195e41567cc2a7d8997/E%058/xampp/htdocs/propeople-test.loc/sites/all/themes/propeople/sass/_aside.scssc
/sites/all/themes/propeople/.sass-cache/75fcaf1b4852ceb732871195e41567cc2a7d8997/E%058/xampp/htdocs/propeople-test.loc/sites/all/themes/propeople/sass/_content.scssc
/sites/all/themes/propeople/.sass-cache/75fcaf1b4852ceb732871195e41567cc2a7d8997/E%058/xampp/htdocs/propeople-test.loc/sites/all/themes/propeople/sass/_footer.scssc
/sites/all/themes/propeople/.sass-cache/75fcaf1b4852ceb732871195e41567cc2a7d8997/E%058/xampp/htdocs/propeople-test.loc/sites/all/themes/propeople/sass/_header.scssc
/sites/all/themes/propeople/.sass-cache/75fcaf1b4852ceb732871195e41567cc2a7d8997/E%058/xampp/htdocs/propeople-test.loc/sites/all/themes/propeople/sass/_text.scssc
/sites/all/themes/propeople/.sass-cache/b4dc5ef3282a087fe58bacd7d9b56433752b3ac9/_reset.scssc
/sites/all/themes/propeople/.sass-cache/f20dab5b7fb1216f35d8484ebb92bc8dca57139a/_utilities.scssc
/sites/all/themes/propeople/config.rb
