
@font-face {
  font-family: 'CopperplateGothic';
  src: url('../fonts/CopperplateGothic-Bold.eot');
  src: url('../fonts/CopperplateGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CopperplateGothic-Bold.woff') format('woff'),
  url('../fonts/CopperplateGothic-Bold.ttf') format('truetype'),
  url('../fonts/CopperplateGothic-Bold.svg#CopperplateGothic-Bold') format('svg');
  font-weight:  700;
  font-style:   normal;
}