header {
	width:100%;
	padding-top:19px;
	background: linear-gradient(to top, #e7e8e8, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e8e8), to(#fff));  
	background: -moz-linear-gradient(top, #e7e8e8, #fff); 
	background-size:100% 42px;
	background-repeat:no-repeat;
	.line1 {
		width:973px;
		margin:0px auto;
		clear:both;
		padding-bottom:13px;
		min-height:51px;
		#logo-wrapper, #name-and-slogan {
			float:left;
			margin-left:23px;
			#site-name {
				margin:0px;
			}
		}
		#first-nav-group {
			float:right;
			padding-right:1px;
			div.block {
				float:left; 
			}
			#block-menu-menu-service-navigation {
				ul {
					li {
						margin-right:20px;
					}
				}
			}
			#block-locale-language {
				position:relative;
				ul {
					display:none;
					z-index:10;
					border:1px solid #d6d6d6;
					position:absolute;
					left:0px;
					top:25px;
					padding-left:6px;
					width:104px;
					background:#fff;
					border-radius:0 0 5px 5px;
				}
				&:hover {
					ul {
						display:block;
						li {
							line-height:15px;
						}
					}
				}
			}
			#block-commerce-cart-cart{ 
				position:relative;
				ul {
					li.line-item-summary-view-cart a {
						position:absolute;
						height:30px;
						width:27px;
						top:0px;
						right:0px;
						text-indent: -3000px;
					}
				}
				#cart-info {
					.line-item-quantity-label-last {
						display:block;
					}
				}
				div.cart-empty-block {
					max-width:75px;
				}
			}
		}
		&:after {
			content: "";
			clear: both;
			display: block;
		}
	}
	.line2 {
		width:973px;
		margin:0px auto;
		clear:both;
		#block-system-main-menu {
			ul {
				float:right;
				li {
					float:left;
					padding:0 20px;
					line-height:30px;
					border:1px solid #eaeaea;
					border-radius: 4px 4px 0px 0px;
					margin-left:2px;
					margin-bottom:1px;
					-webkit-box-shadow: 0px -1px 3px 1px rgba(50, 50, 50, 0.1);
					-moz-box-shadow:    0px -1px 3px 1px rgba(50, 50, 50, 0.1);
					box-shadow:         0px -1px 3px 1px rgba(50, 50, 50, 0.1);
					&:hover, &.active-trail, &.active {
						padding:0 21px;
						line-height:33px;
						margin-bottom:0px;
						border:0px;
						background: #1a86c2; 
    				    background: linear-gradient(to top, #1a86c2, #011d2d);
    				    background: -webkit-gradient(linear, left top, left bottom, from(#1a86c2), to(#011d2d));  
				        background: -moz-linear-gradient(top, #1a86c2, #011d2d); 
					}
				}
			}
			&:after {
				content: "";
				clear: both;
				display: block;
			}
		}
	}
	.line3 {
		background: linear-gradient(to top, #002940, #00669f);
    	background: -webkit-gradient(linear, left top, left bottom, from(#002940), to(#00669f));  
		background: -moz-linear-gradient(top, #002940, #00669f);
		-webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.1);
		box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.1);
		.line3-content {
			width:973px;
			margin:0px auto;
			#breadcrumb {
				float:left;
				h2 {
					float:left;
				}
				div.breadcrumb {
					float:left;
				}
			}
			#print_link {
				float:right;
				padding-right:119px;
			}
			&:after {
				content: "";
				clear: both;
				display: block;
			}
		}
	}
}